# .htaccess
RewriteEngine On

# Если запрашиваемый файл или папка реально существуют — отдать их
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всё остальное перенаправить на index.php
RewriteRule ^ index.php [L]
